.page-travel-content {
	.travel-card {
		height: 470px;
		img.card-img-top {
			max-width: 100%;
			min-height: 250px;
		}

		.card-body {
			.card-title {
				font-size: 20px;
			}

			p {
				font-size: 16px;
			}

			.read-more {
				border: 1px solid #ccc;
				padding: 5px 15px;
				border-radius: 3px;
				&:hover {
					background-color: #000;
					color: #fff;
					text-decoration: none;
				}
			}
		}
	}
}