.page-travel-content, .page-news-content {

	.col-md-4, .col-lg-4 {
		margin-bottom: 30px;
	}

	.travel-card {
		position: relative;
		height: auto;
		img.card-img-top {
			max-width: 100%;
			min-height: 175px;
		}

		.card-body {

			padding: 15px;

			.card-title {
				font-size: 15px;
			}

			p {
				font-size: 16px;
			}
		}
	}
}