.table-single-bike {
    width: 100%;

    &.table-cal {
        .form-control {
            padding: 0px 5px;
            margin: 3px 0;
        }
    }

    thead {
        background: #ccc;
    }

    tfoot {
        button {
            border: 1px solid #ccc;
            padding: 0px 22px;

            &:hover {
            	background-color: #ccc;
            }
        }
    }

    tbody {

        tr {

            &:hover {
                background: #dcdcdc;
            }

            td {

                &:first-child {
                    width: 30%;
                }

                padding: 3px 15px;

                label {
                    margin: 0;
                }
            }
        }
    }
}